main {
  margin: 50px 0 0;
  min-height: calc(100% - (#{$header_height_mobile} + #{$footer_height_mobile}));

  @include breakpoint($tablet) {
    margin: 70px 0 0;
    min-height: calc(100% - (#{$header_height_tablet} + #{$footer_height_tablet}));
  }
}