.m__loader {
  z-index: $highest_index;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 160px;
  background-color: rgba($general_white, 1);

  &.active {
    opacity: 1;
  }

  &.inactive {
    opacity: 0;
    transition: opacity 0.5s;
  }

  span {
    opacity: 0.5;

    display: inline-block;
    margin: 0 2px;
    height: 100%;
    max-height: 60px;
    width: 6px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 4px;
    animation: loaderAnimation 2s ease-in infinite;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.15s;
      }
    }
  }
}